@model List<Friend>

@{
    ViewBag.Title = "MVC App";
}

<div class="card-deck">
    @foreach (var friend in Model)
        {
            var friendID = friend.Id;
            <div class="card m-3" >
                <div class="card-header">
                    <h3>@friend.Name</h3>
                </div>
                <img    class="card-img-top"
                        src="~/images/NET_core.png"
                        alt="image"
                        asp-append-version="true"
                />
                <div class="card-footer text-center">
                    <a  asp-controller="home"
                        asp-action="datafriend"
                        asp-route-id="@friend.Id"
                        class="btn btn-primary">Show
                    </a>
                    <a asp-controller="Home" asp-action="Modify" asp-route-id="@friendID"
                    class="btn btn-primary">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@friendID"
                    class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
</div>

@section Scripts
{
    <script src=""></script>
}
