@model List<net_core_web.Model.Friend>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MVC App";
}

<p>Hello world from MVC (Index).</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
    </tr>
    <tr>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.Id</td>
                <td>@friend.Name</td>
                <td>@friend.Email</td>
                <td>@friend.City</td>
            </tr>
        }
    </tr>
</table>

@section Scripts
{
    <script src=""></script>
}
